.product-single-page {
    padding-bottom: 80px;
}
.product-single-page > .product > .row > .col-md-7 {
    padding-right: 25px;
}
.product-single-page > .product > .row > .col-md-5 {
    padding-left: 25px;
}
/*************
    alert
***************/
.woocommerce-notices-wrapper .woocommerce-message {
    display: flex;
    align-items: center;
    border-top-color: #00449f;
}
.woocommerce-notices-wrapper .woocommerce-message span {
    padding-right: 20px;
}
.woocommerce-page .woocommerce-message .button {
    background-color: #00449f;
    text-align: center;
    margin-left: auto;
    font-weight: 400;
    border-radius: 0; 
    flex: 0 0 110px;
    color: #fff;
}
.woocommerce-page .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-message .button:focus {
    background-color: #013882;
    box-shadow: none;
    color: #fff;
}
.woocommerce-message::before {
    top: 22px;
    color: #00449f;
}
.woocommerce-notices-wrapper .woocommerce-message::before {
    top: 16px;
}

/*******************
	Product Image
*******************/
.select2-container--default .select2-selection--single {
    border-radius: 0px;
    display: flex;
    align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}
.product-feature-image .item {
	height: 500px;
    margin-top: 62px;
}
.product-feature-image .item,
.side-thumbnail .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/*background-color: #f5f5f5;*/
    cursor: pointer;
}
.side-thumbnail .item {
    height: 120px;
}
.slick-dots {
	display: none !important;
}
.slick-dotted.slick-slider {
	padding: 50px 0;
}
.slick-slide .woocommerce-product-gallery__wrapper a img {
    width: 100%;
    height: 100%;
}

.slick-slide .woocommerce-product-gallery__image {
    height:357px;
    max-height: 357px;
}

.side-thumbnail .slick-next::before,
.side-thumbnail .slick-prev::before {
	content: "";
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}
.side-thumbnail .slick-prev::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.side-thumbnail .slick-next::before {
    transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
}
.side-thumbnail .slick-prev,
.side-thumbnail .slick-next {
	top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    height: 40px;
}
.side-thumbnail .slick-prev {
	top: unset;
    bottom: -10px;
}
.side-thumbnail .slick-next {
	top: 20px;
    bottom: unset;
}


.woocommerce div.product-single-page .product_title {
    padding: 15px 0 20px;
    font-weight: 600;
    margin: 0;
    color: #000;
}
.short-description {
    padding-bottom: 30px;
}
.short-description .model-list {
    padding-top: 30px;
}
.short-description .content > h4,
.short-description .model-list > h4 {
    margin-bottom: .3rem;
}
.short-description .content-wrapper {
    display: flex;
    justify-content: right;
}
.content-wrapper .right-bullet,
.content-wrapper .left-bullet  {
    margin-bottom: 0;
    max-width: 250px;
}
.content-wrapper .left-bullet {
    margin-right: 25px;
    padding-left: 20px;
}
.content-wrapper .right-bullet {
    margin-left: 25px;
}
.woocommerce div.product-single-page p.price {
    color: #00449f;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px; 
}
.woocommerce div.product p.price ins {
    text-decoration: none;
}
.payment-method-text {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #00449f;
    padding-bottom: 16px;
    margin-bottom: 40px;
    align-items: center;
}
.payment-method-text img {
    width: 90px;
    margin-left: 5px;
    height: 100%;
}
.cart .bundle_sells_title {
    text-transform: capitalize;
}
.bundle_form {
    padding-bottom: 15px;
}
.bundle_form .bundled_product {
    padding-left: 0;
}
div.product-single-page .bundle_form .bundled_product_title {
    display: flex;
    align-items: baseline;
    line-height: normal;
    padding: 0;
    font-weight: normal;
}
.bundle_form .bundled_product_title_inner {
    font-size: 1rem;
    line-height: normal;
}
.bundle_form .bundled_product_optional_checkbox {
    font-size: 0px;
}
div.product-single-page .bundle_form span.price {
    font-size: 1rem;
    color: #000;
    padding-left: 16px;
    line-height: normal;
}
.bundle_form .bundled_product_summary .bundled_product_optional_checkbox {
    padding-bottom: 0;
}
.product-options {
    margin-bottom: 40px;
}
.product-options h4 {
    margin-bottom: 15px;
}
.product-options .form-check {
    margin-bottom: 5px;
}
.delivery-option a,
.delivery-option a:hover {
    color: #00449f;
    border-bottom: 1px solid #00449f;
    text-decoration: none;
}
.delivery-option p {
    line-height: 1.7rem;
}
.product-code {
    font-size: .92em;
}
.fit_quote {
    padding: 10px 0 40px;
}
.fit_quote .form-group {
    margin-bottom: 10px;
}
.fit_quote .radio-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
}
.product-single-page .quantity-holder {
    display: flex;
    float: left;
}
.product-single-page .input-group-btn button {
    border-radius: 0;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    border-left: 1px solid #898989;
    color: #000;
    box-shadow: none;
    cursor: pointer;
    height: 48px;
    font-size: 10px;
}
.product-single-page .input-group-btn .btn-minus {
    border-left: 0;
    border-right: 1px solid #898989;
}
.product-single-page .input-group-btn button i,
.product-single-page .input-group-btn button {
    color: #000;
    opacity: 1;
}
.product-single-page input[type="number"]::-webkit-outer-spin-button, 
.product-single-page input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
.product-single-page input[type="number"] {
    -moz-appearance: textfield;
}
.woocommerce .product-single-page .quantity .qty {
    padding: 10px 0;
    height: 48px;
}
.woocommerce .product-single-page .cart .single_add_to_cart_button  {
    margin-left: 15px;
    border: none;
    background-color: #00449f;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-transform: uppercase;
    padding: 12px 40px;
    -webkit-transition: background 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out;
    -ms-transition: background 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

}
.entry-summary .bundle_sells_form div.bundled_product_summary .details {
    float: none;
    width: 100%;
    padding: 0;
}
.entry-summary div.bundled_product_summary, 
.woocommerce.single-product div.product.bundled_product_summary {
    padding-bottom: 1em;
     margin-bottom: 0; 
     border-bottom: none; 
}
.woocommerce .product-single-page .cart .single_add_to_cart_button:focus,
.woocommerce .product-single-page .cart .single_add_to_cart_button:active,
.woocommerce .product-single-page .cart .single_add_to_cart_button:hover {
    box-shadow: none;
    background-color: #013882;
}
.woocommerce .product-single-page div.product form.cart div.quantity {
    margin: 0;
}

.woocommerce .btn-clr {
    background-color: #00449f;
}
.woocommerce .btn-hover:hover {
    background-color: #013c8c;
}
.short-description,
.product-summary-holder {
    padding-top: 20px;
}
.woocommerce div.product .product-summary-holder ul.tabs {
    padding-left: 0;
    margin-bottom: 0;
}
.woocommerce div.product .product-summary-holder ul.tabs li {
    background-color: #fff;
    color: #898989;
    border-color: #898989;
    border-radius: 0; 
    padding: 0 20px;
    margin: 0 -5px 0 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-color: #898989;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}
.woocommerce div.product .product-summary-holder .panel {
    border-left: 1px solid #898989;
    border-bottom: 1px solid #898989;
    border-right: 1px solid #898989; 
    padding: 30px 25px;
    height: 300px;
    color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: #898989;
    color: #fff;
    border: 1px solid #898989;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 400;
    font-size: 0.9rem;
}
.single-product .related-product {
    padding: 50px 0;
}
.single-product .related-product {
    background-color: #f7f7f7;
}
.single-product .related-product .related > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: capitalize;
}
.single-product .related-product li {
    background-color: #fff;
    text-align: center;
}
.single-product .related-product li a,
.single-product .related-product li a:hover {
    color: #000;
    text-decoration: none;
}
.woocommerce.single span.onsale {
    height: 3.236em;
    width: 3.236em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    background-color: #003c95;
}
.product-single-page #zip-tagline .zip-widget {
    margin-bottom: 20px;
}
.product-single-page #zip-tagline .zip-widget__tagline img.logo {
    margin-left: 0;
}
.product-single-page #zip-tagline .zip-widget__tagline a.learn-more:hover,
.product-single-page #zip-tagline .zip-widget__tagline a.learn-more {
    color: #00449f;
}
.product-single-page #zip-tagline .zip-widget__tagline span.text, 
.product-single-page #zip-tagline .zip-widget__tagline a.learn-more {
    font-size: 0.9rem;
}
/*.woocommerce.single-product ul.products li.product .woocommerce-loop-product__title {
    padding: 5px 15px 20px;
}*/
.cart .contactus a, 
.cart .contactus a:hover {
    border-bottom: 1px solid #00449f;
    text-decoration: none;
}

#zip-tagline a {
    color: #013882;
}

#zip-tagline a:hover {
    color: #1E77FA;
}

#qq-popup-button {
    border-radius: 0;
}
.productModal .gfield_label {
    display: none !important;
}
.productModal .close {
    position: absolute;
    right: 5px;
    width: 40px;
    top: 10px;
}
.productModal.show {
    /*display: flex !important;*/
    align-items: center;
    justify-content: center;
}
.productModal .modal-dialog {
    flex: 1;
}
.productModal .close span {
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
}
.productModal .title {
    padding: 20px 15px 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.productModal .modal-body {
    padding-top: 0;
}
.productModal .gform_body ul li:first-child,
.productModal .gform_wrapper,
.productModal .gform_footer {
    margin-top: 0;
}
.productModal .gform_wrapper {
    margin-bottom: 0;
}
.productModal .gform_wrapper .top_label input.medium, 
.productModal .gform_wrapper .top_label select.medium,
.productModal .gform_wrapper textarea.medium {
    width: 100%;
    font-weight: 300;
}
.productModal .gform_wrapper .top_label input.medium,
.productModal .gform_wrapper textarea.medium {
    border: 1px solid #d4d4d4;
}
.productModal .gform_wrapper ul.gform_fields li.gfield {
    padding: 0;
    max-width: 100% !important;
    margin-top: 9px;
}
.productModal .gform_footer input.gform_button{
    background-color: #00449d;
    border-color: #00449d;
    color: white;
    border-style: none;
    padding: 10px 25px;
    border-radius: 0;
    font-weight: normal;
    transition: .35s ease-in-out;
}
.productModal .gform_footer input.gform_button:hover {
    background-color: #013882;
    border: none !important;
    color: white;
}
.productModal .modal-content {
    border-radius: 0;
}
#pickUpModal .gform_wrapper .gform_footer {
    margin: 0;
}
.cart p:last-child {
    margin-top: 10px;
}
/*
    Related Product
*/

.woocommerce .related-product ul.products li.product .price {
    font-size: 1.2rem;
    background-color: #00449f;
    margin-bottom: 0;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    transition: .35s ease-in-out;
}
.woocommerce .related-product ul.products li.product .price:hover,
.woocommerce .related-product ul.products li.product .price:active,
.woocommerce .related-product ul.products li.product .price:focus {
    background-color: #013882;
    cursor: pointer;
}

/*
    Check Out Cart
*/
.woocommerce-cart article,
.woocommerce-checkout article{
    padding-bottom: 80px;
}

.woocommerce table.shop_table {
    border-radius: 0px;
}
.shop_table .cart_item a,
.woocommerce-shipping-calculator a {
    color: #00449f
}
.shop_table .cart_item a:hover,
.woocommerce-shipping-calculator a:hover {
    color: #1E77FA;
    text-decoration: none;
}
.shop_table .btn-outline-primary,
.wc-proceed-to-checkout a {
    border-radius: 0;
    border: none;
    border-color: #00449f;
    background-color: #00449f;
    color: white;
    padding: 7px 15px !important;
    cursor: pointer;
}
.shop_table .btn-outline-primary:hover,
.shop_table .btn-outline-primary:active,
.shop_table .btn-outline-primary:focus,
.shop_table .btn-outline-primary:not(:disabled):not(.disabled):active,
.wc-proceed-to-checkout a.btn:hover {
    background-color: #013882;
    border: 1px solid #013882 !important;
    color: #fff;
    box-shadow: none;
    padding: 6px 14px !important;

}
.wc-proceed-to-checkout a:active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #013882;
}
.wc-proceed-to-checkout a,
.shop_table #coupon_code,
.shop_table #coupon_code:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus {
    border-radius: 0;
    box-shadow: none;
}
.woocommerce form .form-row input.input-text{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    box-shadow: none;
    border: 1px solid #b2acac;
    padding: 5px;
    border-radius: 0;
}
.woocommerce form .form-row input.input-text:focus,
.woocommerce-additional-fields textarea:focus {
    border-color: #00449e !important;
}
#billing_address_2_field .optional,
#shipping_address_2_field .optional {
    display: none;
}
.woocommerce form .form-row label {
    margin-bottom: 0;
}
#ship-to-different-address {
    margin-bottom: 0;
}
.woocommerce form .form-row .input-text, 
.woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    border-color: #b2acac;
}
#calc_shipping_state_field > span {
 width: 100%;
}
#order_review #bigpost_checkout_form .woobigpost-sqf-fields tr td,
.cart_totals #bigpost_cart_form .woobigpost-sqf-fields tr td {
    padding: 0;
    line-height: normal;
}
#bigpost_cart_form .woobigpost-shipping-quote-form.cart {
    margin: 0;
}
#zip-tagline .zip-widget__tagline span.text,
#zip-tagline .zip-widget__tagline a.learn-more {
    font-size: 1rem;
    /*-webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;*/
}
/*********** 
    Return to shop
***********/
.return-to-shop .btn-outline-primary:hover,
.return-to-shop .btn-outline-primary:active,
.return-to-shop .btn-outline-primary:focus {
    background-color: #013882;
    box-shadow: none;
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.return-to-shop .btn-outline-primary {
    color: #fff;
    border-radius: 0;
    border-color: #00449e;
    background-color: #00449e;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus{
    background-color: #013882;
    box-shadow: none;
    border-color: #013882;
}
.feature-default-mobile {
    display: none;
}

.details.component_data {
    width: 100% !important;
    justify-content: center;
    display: flex;
    padding-top:1rem !important;
}

.details.component_data .quantity_button{
    display: flex;
    justify-content: center;
}

.component_content, .component_selections .component_section_title{
    display:none !important;
}

.composite_form .step_title_wrapper {
    margin-bottom: 0.5rem !important;
    font-size: 1.375rem;
}

.composite_form:not(.paged) .component .component_inner {
    padding-bottom: 1.2rem !important;
}

.composite_form:not(.paged) .composite_wrap {
    padding-top: 1.25rem !important;
}

.woocommerce ul.products li.product .price .from{
    display: none;
}

.component .component_options_select {
    width: 100%;
}

.productModal .gform_wrapper textarea.medium {
    height: 80px;
}

.productModal .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}

@media screen and (max-width: 991px) {
    .woocommerce-page .woocommerce-message .button {
        margin-left: 15px;
    }
    .product-single-page .active-top-nav {
        display: block;
    }
    .product-single-page .return-back {
        text-align: left;
    }
    .woocommerce div.product-single-page .product_title {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    .woocommerce div.product-single-page p.price {
        font-size: 2.2rem;
    }
    .woocommerce div.product .product-summary-holder ul.tabs li {
        padding: 0 15px;
    }
    .product-single-page .quantity-holder {
        font-size: 14px;
    }
    .product-single-page .input-group-btn button {
        padding: 9.5px 10px;
    }
    .woocommerce .product-single-page .quantity .qty {
        width: 35px;
    }
    .woocommerce .product-single-page .cart .single_add_to_cart_button {
        padding: 12px 15px;
    }
    .cart_totals #zip-tagline {
        text-align: center;
        width: 100%;
    }
    .cart_totals  #zip-tagline .zip-widget__tagline .text {
        vertical-align: super;
    }
    .cart_totals  #zip-tagline .zip-widget__tagline a.learn-more {
        display: block;
        text-align: right;
        line-height: normal;
        padding: 0 !important;
        margin-top: -10px;
    }
}
@media screen and (max-width: 767px) {
    .product-single-page .type-product > .row,
    .product-single-page .active-top-nav {
        flex-direction: column-reverse;
    }
    
    .woocommerce .product-single-page div.product form.cart {
        margin-bottom: 3em;
    }
    .product-single-page .active-top-nav {
        display: flex;
    }
    .product-single-page .return-back {
        width: 100%;
    }
    .product-single-page {
        padding-bottom: 30px;
    }
    .woocommerce .product-single-page .quantity .qty {
        width: 50px;
    }
    .product-feature-image .item {
        height: 400px;
    }
    .side-thumbnail .item {
        height: 100px;
    }
    .woocommerce .product-single-page span.onsale {
        left: 20px;
    }
    .product-single-page .feature-default {
        padding: 0 15px;
    }
    .product-single-page > .product > .row > .col-md-5 {
        padding-left: 15px;
    }
    .woocommerce-cart article,
    .woocommerce-checkout article{
        padding-bottom: 40px;
    }
    .woocommerce div.product-single-page .product_title {
        padding-bottom: 20px;
    }
    .feature-default-desktop {
        display: none;
    }
    .feature-default-mobile {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }
    .woocommerce div.product-single-page .product_title {
        padding-bottom: 0;
    }
    .entry-summary .bundle_sells_form div.bundled_product_summary .details{
        padding-bottom: 15px;
    }
    div.product-single-page .bundle_form span.price{
        padding-left: 30px;
    }
}
@media screen and (max-width: 576px) {
    .woocommerce .woocommerce-breadcrumb {
        display: none;
    }
    .woocommerce-shipping-fields {
        margin-top: 10px;
    }
    .product-single-page .product > .row > .col-md-7 > .row > .col-sm-5 {
        display: none;
    }
    .product-single-page > .product > .row > .col-md-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .product-feature-image .item {
        height: 300px;
        background-size: cover;
    }
    .product-code,
    .woocommerce div.product-single-page .product_title,
    .woocommerce div.product-single-page p.price,
    #zip-tagline,
    .woocommerce .product-single-page div.product form.cart {
        padding-left: 15px;
        padding-right: 15px;  
    }
    .woocommerce .product-single-page div.product .product-summary-holder ul.tabs li {
        text-align: center;
        width: 100%;
    }
    .woocommerce-notices-wrapper .woocommerce-message span {
        padding-right: 0;
    }
    .woocommerce-notices-wrapper .woocommerce-message {
        flex-direction: column;
    }
    .woocommerce-page .woocommerce-message .button {
        flex: 0;
        display: block;
        float: none;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
    .short-description .content-wrapper {
        display: block;
    }
    .short-description ul {
        padding-left: 20px;
    }
    .fit_quote {
        padding: 10px 0 25px;
    }
    .content-wrapper .left-bullet,
    .content-wrapper .right-bullet {
        margin: 0;
    }
    .content-wrapper .right-bullet {
        padding-left: 20px;
    }
    .product-single-page #zip-tagline .zip-widget__tagline .text {
        vertical-align: super;
    }
    .product-single-page #zip-tagline .zip-widget__tagline a.learn-more {
        display: block;
        text-align: right;
        line-height: normal;
        margin-top: -10px;
    }

}

@media screen and (max-width: 369px) {
 .productModal .ginput_recaptcha {
    transform: scale(0.85);
    transform-origin: 0 0;
 }
}